
.item_header{
    display: flex;
    width: 100%;
    margin: 0 auto; 
    height: auto;
    background-color: lightseagreen;
    border-radius: 3px;
    padding-left: 10px;
}
.item_header div{
    color: white;
    line-height: 30px;
}
.item_header .price{
    width: 12%;
    display: flex;
    align-items: center; 
    justify-content: center;  
}
.item_header .count{
    width: 14%;
    display: flex;
    align-items: center; 
    justify-content: center;
}
.item_header .amount{
    width: 12%;
    display: flex;
    align-items: center; 
    justify-content: center;  
}
.item_header .operate{
    width: 12%;
    display: flex;
    align-items: center; 
    justify-content: center;  
}
.item_header .item_detail{
    width: 45%;
}
.item_header .check{
    width: 5%;
    display: flex;
    align-items: center; 
    justify-content: center;  
}
.item_body{
    background-color: darkgray;
    margin-top: 10px;
    height: 100px;
    align-items: center;    
}
.item_detail img{
    width: 80px;
    height: 80px;
    border-radius: 3px;
    /* margin-top: 10px; */
    float: left;
}
.item_detail .name{
    margin-left: 100px;
} 
